# Copy or rename this file to .env and modify if for your needs

#WGKEX_DOMAINS="ffmuc_augsburg, ffmuc_freising, ffmuc_gauting, ffmuc_muc_cty, ffmuc_muc_nord, ffmuc_muc_ost, ffmuc_muc_sued, ffmuc_muc_west, ffmuc_uml_nord, ffmuc_uml_ost, ffmuc_uml_sued, ffmuc_uml_west, ffmuc_welt, ffwert_city, ffwert_events"
#WGKEX_DOMAIN_PREFIXES="ffmuc_, ffdon_, ffwert_"
#WGKEX_DEBUG="DEBUG"

#MQTT_BROKER_URL="mqtt"
#MQTT_BROKER_PORT="1883"
#MQTT_USERNAME=""
#MQTT_PASSWORD=""
#MQTT_KEEPALIVE="5"
#MQTT_TLS="False"
