domains:
  - ffmuc_freising
  - ffmuc_gauting
  - ffmuc_muc_cty
  - ffmuc_muc_nord
  - ffmuc_muc_ost
  - ffmuc_muc_sued
  - ffmuc_muc_west
  - ffmuc_uml_nord
  - ffmuc_uml_ost
  - ffmuc_uml_sued
  - ffmuc_uml_west
  - ffmuc_welt
mqtt:
  broker_url: broker.example.com
  broker_port: 1883
  username: user
  password: SECRET
  keepalive: 5
  tls: False
domain_prefix: myprefix-
log_level: DEBUG