name: Bazel tests

on: [push, pull_request]
permissions:
  contents: read
  actions: read
  checks: write

jobs:
  bazel-run:
    runs-on: ubuntu-latest
    steps:
      - name: Setup cache
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: "/home/runner/.cache/bazel"
          key: bazel
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Run Bazel tests
        run: bazel test ...:all --test_output=all --action_env=WGKEX_CONFIG_FILE=`pwd`/wgkex.yaml.example
      - name: Python coverage
        run: |
          sudo apt-get install -y lcov
          mkdir "${GITHUB_WORKSPACE}/src"
          cd "${GITHUB_WORKSPACE}/src"
          curl -L https://files.pythonhosted.org/packages/19/4f/2251e65033ed2ce1e68f00f91a0294e0f80c80ae8c3ebbe2f12828c4cd53/coverage-7.8.0.tar.gz | tar xvz
          cd "${GITHUB_WORKSPACE}"
          bazel coverage --combined_report=lcov --java_runtime_version=remotejdk_11 -t- --instrument_test_targets \
            --test_output=errors --linkopt=--coverage --linkopt=-lc \
            --test_env=PYTHON_COVERAGE=${GITHUB_WORKSPACE}/src/coverage-7.8.0/__main__.py \
            --test_verbose_timeout_warnings --define=config_file=test ...:all
      - name: Coveralls
        uses: coverallsapp/github-action@648a8eb78e6d50909eff900e4ec85cab4524a45b # v2.3.6
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: bazel-out/_coverage/_coverage_report.dat
