name: Lint

on: [push, pull_request]

permissions:
  contents: read

jobs:
  black:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
      - uses: psf/black@af0ba72a73598c76189d6dd1b21d8532255d5942 # v25.9.0